.register-form {
    margin: 0 auto;
    width: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 50px;
}

.register-form input:not([type=checkbox]) {
    display: block;
    height: 50px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;


}

.login-text {
    text-align: center;
}

#terms-text {
    color: rgb(53, 39, 245);
}