.footer-area {
    background-color: #293e46;
    height: 300px;
    margin-top: auto;
}


.subscribe-input {
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #2a303b;
    color: white;
    width: 300px;
}

.footer-grid-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(193, 235, 193);
}