.details {

    margin: 0 20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 5%;
    background-color: rgb(220, 245, 236);
}

.details img {
    width: 50%;
    margin: 20px;
    border-radius: 10%;
}

.details h3 {
    margin: 5% 20% 1%;
    color: rgb(57, 57, 250);
}

.details h5 {
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    color: rgb(51, 9, 202);
}

.details h4 {
    font-size: 20px;
    color: rgb(1, 118, 122);
}